#main{
    margin-top: 3em;
    background-color: rgb(111, 126, 126);
    text-align: center;
}

#cards {
    margin-left: 3em;
    margin-top: 3em;
}

.class1 {
    text-align: center;
    color: red;
    background-color: lightblue;
}

.class2 {
    margin: auto;
    margin-top: 3em;
    text-align: center;
    color: orange;
    border: solid; 
    width: auto; 
    height: auto;
    padding: 3em;
}

.class3 {
    margin: auto;
    text-align: center;
    width: auto; 
    height: auto;
    padding: 3em;
    color: red;
}

body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("https://kleinflix.kleinisd.net/accounts_media/images/2027860e0113/cdc50717e932.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }